.pwse-tabs {
    margin: 1rem 0;
}

.pwse-tabs__tablist {
    border-bottom: .0625rem solid rgba(0, 0, 0, .15);
    display: block;
    list-style-type: none;
    padding: 0;
}

.pwse-tabs__tablist-item {
    display: inline-block;
    margin-bottom: -.0625rem;
    position: relative;
}

.pwse-tabs__tab {
    border: .0625rem solid transparent;
    border-radius: .25rem .25rem 0 0;
    display: inline-block;
    padding: .5rem 1rem;
}

.pwse-tabs__tab[aria-selected="true"] {
    background: #fff;
    border: .0625rem solid rgba(0, 0, 0, .15);
    border-bottom: .0625rem solid transparent;
    color: currentColor;
}
