.pwse-debug-tabs [role="tablist"] {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    display: block;
    list-style-type: none;
    padding: 0;
}

.pwse-debug-tabs [role="tablist"].pwse-debug-tablist--alt {
    margin: 20px 0 -1px;
}

.pwse-debug-tabs [role="tablist"] li {
    display: inline-block;
    margin-bottom: -1px;
    position: relative;
}

.pwse-debug-tabs [role="tablist"] li a {
    border: 1px solid transparent;
    border-radius: .25rem .25rem 0 0;
    display: inline-block;
    padding: .5rem 1rem;
}

.pwse-debug-tabs [role="tablist"] li a[aria-selected="true"] {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-bottom: 1px solid transparent;
    color: currentColor;
}

.pwse-debug-tabs [role="tabpanel"].pwse-debug-tabpanel--alt {
    padding-top: 20px;
}
